{% extends 'base.html' %}

{% block content %}
{% if request.get_full_path == "/poll/new/" %} 
<h1 class="text-center header-primary">Create poll</h1>
{% else %}
<h1 class="text-center header-primary">Update poll</h1>
{% endif %}
<div class="forms-group">
    <form class="forms-group__form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {% for field in form %}
        {{ field.errors }} <br>
        <div class="forms-group__input-field">

            <label class="forms-group__label">{{ field.label_tag }}</label><br>

            {{ field }}<br>

            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}

        </div>
    {% endfor %}

    {% if request.get_full_path == "/poll/new/" %} 
    <div class="forms-group__button-div"><input class="button submit-button forms-group__button" type="submit" value="Create poll"></div>
    {% else %}
    <div class="forms-group__button-div"><input class="button submit-button forms-group__button" type="submit" value="Update poll"></div>
    {% endif %}
    </form>

    <div class="back-to-profile">  
    <a href="{% url 'polls' %}" class="link-bottom-border">Go back</a> 
    </div>
</div>

{% endblock %}

