{% extends 'base.html' %}

{% block content %}
<h1 class="text-center header-primary">My polls</h1>

<div class="card-group">
    <div class="card">
        <div class="card__header">
            <p class="text-center header card__title">Encuesta 1</p>
            <p class="card__desc card__desc--date">Fecha: 21/03/22</p>
        </div>
        <div class="card__body">
            <p class="card__desc card__desc--votes">2341 votes</p>
            <p class="card__desc card__desc--comments">2341 comments</p>
            <a href="login.html" class="link-bottom-border">Details</a> 
        </div>
    </div>

    <div class="card">
        <div class="card__header">
            <p class="text-center header card__title">Encuesta 1</p>
            <p class="card__desc card__desc--date">Fecha: 21/03/22</p>
        </div>
        <div class="card__body">
            <p class="card__desc card__desc--votes">2341 votes</p>
            <p class="card__desc card__desc--comments">2341 comments</p>
            <a href="login.html" class="link-bottom-border">Details</a> 
        </div>
    </div>
    
</div>


<div class="back-to-profile">  
    <a href="login.html" class="link-bottom-border">Go to Profile</a> 
</div>
{% endblock %}