{% extends 'base.html' %}
{% block content %}

<h1 class="text-center header-primary">Update Profile</h1>

    <div class="forms-group">
        <form class="forms-group__form" method="POST">

        <div class="forms-group__input-field">
            <label class="forms-group__label" for="first_name">First name</label></br>
            <input class="forms-group__input" type="text" name="first_name"></br>
        </div>

        <div class="forms-group__input-field">
            <label class="forms-group__label" for="first_name">Last name</label></br>
            <input class="forms-group__input" type="text" name="first_name"></br>
        </div>  

        <!--<div class="forms-group__input-field">
            <label class="forms-group__label" for="picture">Picture</label></br>
            <input class="forms-group__input" value="Browse" type="file" name="picture"></br>
        </div>-->
        <input type="file" id="selectedFile" style="display: none;" />
        <input type="button" value="Search image..." onclick="document.getElementById('selectedFile').click();" />

        <div class="forms-group__button-div"><input class="button submit-button forms-group__button" type="submit" value="Create account"></div>

        </form>
    </div>

{% endblock %}

