{% extends 'base.html' %}
{% block content %}


<h1 class="text-center header-primary">Create account</h1>

        <div class="forms-group">
            <form class="forms-group__form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {{ field.errors }} <br>
                <div class="forms-group__input-field">

                    <label class="forms-group__label">{{field.label}}</label><br>

                    {{ field }}<br>

                    {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                    {% endif %}

                </div>
            {% endfor %}

            <div class="forms-group__button-div"><input class="button submit-button forms-group__button" type="submit" value="Create account"></div>
    
            </form>
        </div>

<div class="login-register-group login-register-group--register">  
    <div class="separator">Already have an account?</div>
    <a href="{% url 'login' %}" class="link-bottom-border">Login</a> 
</div>

{% endblock %}